header {
    display: flex;
    flex-direction: column;
    height: auto;
    z-index: 1;
}

header nav {
    display: flex;
    align-items: center;
    padding: .5rem;
}

@media screen and (max-width: 26.5625rem) {
    .header {
        /* overflow-x: hidden; */
    }
}
