.logo {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    height: 100%;
    flex: 1;
}

.logo img {
    max-width: 100%;
    width: 100%;
}

@media screen and (max-width: 26.5625rem) {
    .logo{
        gap: .4rem;
        padding: .4rem;
    }
    
    .logo img {
        width: 25%;
    }
}