.app {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  height: 100vh;
  background-image: url('/background-site-modelo1-gray-scale.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.filter {
  position: absolute;
  height: 100%;
  width: 1200px;
  z-index: 0;
  background-color: rgba(20,20,20,.8);
}

@media screen and (max-width: 26.5625rem) {
  .app .filter {
    width: 100vh;
  }
}


